.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

@media (max-width: 700px) {
  html {
    font-size: 0.9rem;
  }
}

table tbody {
  border: 0.75rem solid white;
  background-color: white;
  overflow: hidden;
  margin: 2rem !important;
}

table thead {
  background-color: #fafafa;
}

td,
th {
  border: none;
  padding: 1rem !important;
}

th {
  font-size: 0.95rem;
}

a,
.brandColor {
  color: #950451;
}

.popup {
  z-index: 1000;
}

.leaflet-container {
  height: 350px;
  width: 100%;
}

.leaflet-control * {
  text-decoration: none;
  background-image: none;
}

.SocialMediaShareButton {
  cursor: pointer;
  margin: 0 0.3rem;
  color: white;
  display: inline-flex;
  height: 1.6rem;
  width: 1.6rem;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.SocialMediaShareButton:hover {
  opacity: 0.9;
}
